<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">
		function buscarVersoesCustomizadasDeVersao(idVersaoCustomizada, filePath){
		    $.ajax({url: "/listarVersoesCustomizadas?id=" + idVersaoCustomizada + "&filePath=" + filePath, success: function(versoesCustomizadas){
		    	var tabelaVersoesCustomizadas = "";
		    	if(versoesCustomizadas) {
			    	tabelaVersoesCustomizadas.append("
			    		<table class='table table-striped table-responsive'>   
					    	<tbody>";
					
					for(var i = 0; i < versoesCustomizadas.length; i++) {
						tabelaVersoesCustomizadas.append("
								<tr>
									<td class='text-center'>"
						        		+ versoesCustomizadas[i].version + "
							    	</td>
				        			<td class='text-left'>
						        		<a href='/baixarVersaoCustomizada?id='" + versoesCustomizadas[i]._id + "'&idRootVersion='" + versoesCustomizadas[i].id_root_version + "&filePath=" + versoesCustomizadas[i].path + "'>
						        			" + versoesCustomizadas[i].title + " : " + versoesCustomizadas[i].description + " 
						        		</a>					        	
							    	</td>
							    	<td class='text-center'>
						        		<button type='button' class='btn btn-info' data-toggle='modal' data-target='#metadata_" + versoesCustomizadas[i]._id + "'>
						        			<span class='glyphicon glyphicon-search' />
						        		</button>
						        		<div id='metadata_" + versoesCustomizadas[i]._id + "' class='modal fade' role='dialog'>
											<div class='modal-dialog'>
											    <div class='modal-content'>
											    	<div class='modal-header'>
												        <button type='button' class='close' data-dismiss='modal'>&times;</button>
											      	</div>
											      	<div class='modal-body'>	
											        	<form role='form' class='form-horizontal' accept-charset='UTF-8' id='formMetadata_" + versoesCustomizadas[i]._id "'>
												      		<div class='form-group'>
											    				<label class='control-label col-sm-3'>Usuário responsável :</label>
											    				<div class='col-sm-9'>
											    					<p class='form-control-static'>" + versoesCustomizadas[i].user + "</span>
											    				</div>
											    			</div>
											    			<div class='form-group'>
											    				<label class='control-label col-sm-3'>Data de Criação :</label>
											    				<div class='col-sm-9'>
											    					<p class='form-control-static'>" + versoesCustomizadas[i].date + "</span>
											    				</div>
												      		</div>
												      		<div class='form-group'>
										    				<label class='control-label col-sm-3'>Idiomas :</label>
										    				<div class='col-sm-9'>	
										    					<p class='form-control-static'>");
						for(var j = 0; j < versoesCustomizadas[i].languages.length; j++) { 
							tabelaVersoesCustomizadas.append(		versoesCustomizadas[i].languages[j]);
							if(j < (versoesCustomizadas[i].languages.length - 1)) { 
								tabelaVersoesCustomizadas.append(   " ; ");
							}
						}			    										
						tabelaVersoesCustomizadas.append("
										    					</p>	
										    				</div>
											      		</div>											    			
												      	</form>	
											      	</div>
											    	<div class='modal-footer'>
											        	<button type='button' class='btn btn-default' data-dismiss='modal'>Fechar</button>
											    	</div>
											    </div>
											</div>
										</div>
							    	</td>
							    	<td class='text-center'>");

					if(versoesCustomizadas[i].qtyCustomizedVersion > 0) {
						tabelaVersoesCustomizadas.append("
						        			<button type='button' class='btn btn-info' onclick='buscarVersoesCustomizadasDeVersao(" + versoesCustomizadas[i]._id + ", " + versoesCustomizadas[i].path + ");'>
							        			<span id='plusButton_" + versoesCustomizadas[i]._id + "' class='glyphicon glyphicon-plus' />
							        		</button>");
					}
					tabelaVersoesCustomizadas.append("
							    	</td>						    	
								</tr>");
					if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { 
						tabelaVersoesCustomizadas.append("
								<tr> 
									<div id='customizedVersions_" + versoesCustomizadas[i]._id + "'></div>
								</tr>");
					}										
					tabelaVersoesCustomizadas.append("
						</tbody>
					</table>					    
			    	");
		    	}

		        $("#customizedVersions_" + idVersaoCustomizada).html(tabelaVersoesCustomizadas);
		    }});
		});
	</script>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li>Pesquisar OAC</li>
			  <li class="active">Listar Versões Customizadas</li>
			</ol>		
	      	
			<div id="versoesCustomizadas">

				<h4>Versões Customizadas:</h4>
				<table class="table table-striped table-responsive">
				    <thead>
				      	<tr>
				        	<th class="text-center">Título</th>
				        	<th class="text-center">Detalhes</th>
				        	<th class="text-center">Arquivos Executáveis</th>
				        	<th class="text-center">Versões Customizadas</th>
				      	</tr>
				    </thead>
				    <tbody>
				    <% if(versoesCustomizadas) { %>
				    	<% 	for(var i = 0; i < versoesCustomizadas.length; i++) { %>
							<tr>
								<td class="text-center">
					        		<%= versoesCustomizadas[i].version %>
						    	</td>
			        			<td class="text-left">
					        		<a href="/baixarVersaoCustomizada?id=<%= versoesCustomizadas[i]._id %>&idRootVersion=<%= versoesCustomizadas[i].id_root_version %>&filePath=<%= versoesCustomizadas[i].path %>">
					        			<%= versoesCustomizadas[i].title %> : <%= versoesCustomizadas[i].description %>
					        		</a>					        	
						    	</td>
						    	<td class="text-center">
					        		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#metadata_<%= versoesCustomizadas[i]._id %>">
					        			<span class="glyphicon glyphicon-search" />
					        		</button>
					        		<div id="metadata_<%= versoesCustomizadas[i]._id %>" class="modal fade" role="dialog">
										<div class="modal-dialog">
										    <div class="modal-content">
										    	
										    	<div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal">&times;</button>
										      	</div>

										      	<div class="modal-body">										        	
										        	<form role="form" class="form-horizontal" accept-charset="UTF-8" id="formMetadata_<%= versoesCustomizadas[i]._id %>">
											      		<div class="form-group">
										    				<label class="control-label col-sm-3">Usuário responsável :</label>
										    				<div class="col-sm-9">
										    					<p class="form-control-static"><%= versoesCustomizadas[i].user %></span>
										    				</div>
											      		</div>				

														<div class="form-group">
										    				<label class="control-label col-sm-3">Data de Criação :</label>
										    				<div class="col-sm-9">
										    					<p class="form-control-static"><%= versoesCustomizadas[i].date %></span>
										    				</div>
											      		</div>	

											      		<div class="form-group">
										    				<label class="control-label col-sm-3">Idiomas :</label>
										    				<div class="col-sm-9">	
										    					<p class="form-control-static">
										    						<% for(var j = 0; j < versoesCustomizadas[i].languages.length; j++) { %>
										    							<%= versoesCustomizadas[i].languages[j] %>
										    							<% if(j < (versoesCustomizadas[i].languages.length - 1)) { %>
										    								;
										    							<%	} %>
										    						<%	} %>		
										    					</p>	
										    				</div>
											      		</div>
											      	</form>	
										      	</div>

										    	<div class="modal-footer">
										        	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
										    	</div>

										    </div>
										</div>
									</div>
						    	</td>
						    	<td class="text-center">
						    		<% if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { %>
					        			<button type="button" class="btn btn-info" onclick="buscarVersoesCustomizadasDeVersao(<%= versoesCustomizadas[i]._id %>, <%= versoesCustomizadas[i].path %>);">
						        			<span id="plusButton_<%= versoesCustomizadas[i]._id %>" class="glyphicon glyphicon-plus" />
						        		</button>					        			
					        		<%  } %>
						    	</td>						    	
							</tr>
							<% if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { %>
								<tr> 
									<div id="customizedVersions_<%= versoesCustomizadas[i]._id %>"></div>
								</tr>
							<%  } %>
						<%  } %>
					<%  } %>
				    </tbody>
				</table>


		      	<% if(!versoesCustomizadas || versoesCustomizadas.length == 0) { %>
					<div class="alert alert-warning fade in">
						O Arquivo Executável não possui Versões Customizadas
					</div>
				<% } %>

			</div>

	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>