<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
	<script type="text/javascript">

		function buscarVersoesCustomizadasDeVersao(idVersaoCustomizada, idUser, filePath) {
		    var request = $.ajax({url: "/listarVersoesCustomizadasDeVersao?id=" + idVersaoCustomizada + "&filePath=" + filePath});

		    request.done(function(versoesCustomizadas){

		    	var tabelaVersoesCustomizadas = "";
		    	var minusButton = "";

		    	if(versoesCustomizadas) {
		    		
			    	tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("<td colspan='4'><table id='table_" + idVersaoCustomizada + "_" + idUser + "' class='table table-responsive'>" + 
			    		"<thead>" +
			    			"<tr>" +
					      		"<th class='text-center'>Versão</th>" +
					        	"<th class='text-center'>Título</th>" +
					        	"<th class='text-center'>Detalhes</th>" +
					        	"<th class='text-center'>Versões Customizadas</th>" +
				      		"</tr>" +
				    	"</thead>"+
				    	"<tbody>");			    				    	
					for(var i = 0; i < versoesCustomizadas.length; i++) {
						tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("<tr>" + 
									"<td class='text-center'>" + 
										versoesCustomizadas[i].version + 
							    	"</td>" +
				        			"<td class='text-left'>" +
						        		"<a href='/baixarVersaoCustomizada?id=" + versoesCustomizadas[i]._id + "&idRootVersion=" + versoesCustomizadas[i].id_root_version + "&filePath=" + versoesCustomizadas[i].path + "' target='_blank'>" + 
						        			versoesCustomizadas[i].title + " : " +  
						        		"</a>" +
						        		"<br />" +
						        		versoesCustomizadas[i].description +
							    	"</td>" + 
							    	"<td class='text-center'>" +
						        		"<button type='button' class='btn btn-link' data-toggle='modal' data-target='#metadata_" + versoesCustomizadas[i]._id + "_" + versoesCustomizadas[i].user + "'>" +
						        			"<span class='glyphicon glyphicon-search' />" +
						        		"</button>" + 
						        		"<div id='metadata_" + versoesCustomizadas[i]._id + "_" + versoesCustomizadas[i].user + "' class='modal fade text-left' role='dialog'>" +
											"<div class='modal-dialog'>" + 
											    "<div class='modal-content'>" +
											      	"<div class='modal-body'>" +
											        	"<form role='form' class='form-horizontal' accept-charset='UTF-8' id='formMetadata_" + versoesCustomizadas[i]._id + "_" + versoesCustomizadas[i].user + "'>" +
												      		"<div class='form-group'>" + 
											    				"<label class='control-label col-sm-4'>Usuário responsável :</label>" + 
											    				"<div class='col-sm-8'>" + 
											    					"<p class='form-control-static'>" + versoesCustomizadas[i].user + "</p>" +
											    				"</div>" + 
											    			"</div>" +
											    			"<div class='form-group'>" + 
											    				"<label class='control-label col-sm-4'>Data de Criação :</label>" + 
											    				"<div class='col-sm-8'>" +
											    					"<p class='form-control-static'>" + versoesCustomizadas[i].date + "</p>" +
											    				"</div>" + 
												      		"</div>" + 
												      		"<div class='form-group'>" +
										    				"<label class='control-label col-sm-4'>Idiomas :</label>" +
										    				"<div class='col-sm-8'>" +
										    					"<p class='form-control-static'>");
						for(var j = 0; j < versoesCustomizadas[i].languages.length; j++) { 
							tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat(versoesCustomizadas[i].languages[j]);
							if(j < (versoesCustomizadas[i].languages.length - 1)) { 
								tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat(" ; ");
							}
						}			    										
						tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("    </p>"	+
										    				"</div>" +
											      		"</div>" +
												      	"</form>" +
											      	"</div>" +
											    	"<div class='modal-footer'>" +
											        	"<button type='button' class='btn btn-default' data-dismiss='modal'>Fechar</button>" +
											    	"</div>" +
											    "</div>" +
											"</div>" +
										"</div>" +
							    	"</td>" +
							    	"<td class='text-center'>");
						if(versoesCustomizadas[i].qtyCustomizedVersion > 0) {
							tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("<button type='button' class='btn btn-link' onclick='buscarVersoesCustomizadasDeVersao(\"" + versoesCustomizadas[i]._id + "\", \"" + versoesCustomizadas[i].user + "\", \"" +versoesCustomizadas[i].path + "\");'>" +
								        			"<span id='plusButton_" + versoesCustomizadas[i]._id + "_" + versoesCustomizadas[i].user + "' class='glyphicon glyphicon-plus' />" +
								        		"</button>");
						}
						tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("</td></tr>");
						if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { 
							tabelaVersoesCustomizadas.concat("<tr id='customizedVersions_" + versoesCustomizadas[i]._id + "_" + versoesCustomizadas[i].user + "'> </tr>");
						}
					}

					tabelaVersoesCustomizadas = tabelaVersoesCustomizadas.concat("</tbody></table></td>");				
		    	}

		        $("#customizedVersions_" + idVersaoCustomizada + "_" + idUser).append(tabelaVersoesCustomizadas);

		        minusButton = minusButton.concat("<button type='button' class='btn btn-link' onclick='closeSubtableVersoesCustomizadasDeVersao(\"" + idVersaoCustomizada + "\", \"" + idUser + "\", \"" + filePath + "\");'>" +
		        		"<span id='minusButton_" + idVersaoCustomizada + "_" + idUser + "' class='glyphicon glyphicon-minus' />" +
		        	"</button>");
		        $("#columnButtonPlusMinus_" + idVersaoCustomizada + "_" + idUser).html(minusButton);
		    });
		}

		function closeSubtableVersoesCustomizadasDeVersao(idVersaoCustomizada, idUser, filePath) {			
			 var plusButton = "";
			 plusButton = plusButton.concat("<button type='button' class='btn btn-link' onclick='buscarVersoesCustomizadasDeVersao(\"" + idVersaoCustomizada + "\", \"" + idUser + "\", \"" + filePath + "\");'>" +
		        		"<span id='plusButton_" + idVersaoCustomizada + "_" + idUser + "' class='glyphicon glyphicon-plus' />" +
		        "</button>");
			 
		    $("#columnButtonPlusMinus_" + idVersaoCustomizada + "_" + idUser).html(plusButton);
			$("#customizedVersions_" + idVersaoCustomizada + "_" + idUser).html("");
		}
				
	</script>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li>Pesquisar OAC</li>
			  <li class="active">Listar Versões Customizadas</li>
			</ol>		
	      	
			<div id="versoesCustomizadas">

				<h4>Versões Customizadas:</h4>
				<table class="table table-responsive">
				    <thead>
				      	<tr>
				      		<th class="text-center">Versão</th>
				        	<th class="text-center">Título</th>
				        	<th class="text-center">Detalhes</th>
				        	<th class="text-center">Versões Customizadas</th>
				      	</tr>
				    </thead>
				    <tbody>
				    <% if(versoesCustomizadas) { %>
				    	<% 	for(var i = 0; i < versoesCustomizadas.length; i++) { %>
							<tr>
								<td class="text-center">
					        		<%= versoesCustomizadas[i].version %>
						    	</td>
			        			<td class="text-left">
					        		<a href="/baixarVersaoCustomizada?id=<%= versoesCustomizadas[i]._id %>&idRootVersion=<%= versoesCustomizadas[i].id_root_version %>&filePath=<%= versoesCustomizadas[i].path %>" target="_blank">
					        			<%= versoesCustomizadas[i].title %> :
					        		</a>
					        		<br />
					        		<%= versoesCustomizadas[i].description %>	
						    	</td>
						    	<td class="text-center">
					        		<button type="button" class="btn btn-link" data-toggle="modal" data-target="#metadata_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>">
					        			<span class="glyphicon glyphicon-search" />
					        		</button>
					        		<div id="metadata_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>" class="modal fade text-left" role="dialog">
										<div class="modal-dialog">
										    <div class="modal-content">
										    											    
										      	<div class="modal-body">										        	
										        	<form role="form" class="form-horizontal" accept-charset="UTF-8" id="formMetadata_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>">
											      		<div class="form-group">
										    				<label class="control-label col-sm-4">Usuário responsável :</label>
										    				<div class="col-sm-8">
										    					<p class="form-control-static"><%= versoesCustomizadas[i].user %></p>
										    				</div>
											      		</div>				

														<div class="form-group">
										    				<label class="control-label col-sm-4">Data de Criação :</label>
										    				<div class="col-sm-8">
										    					<p class="form-control-static"><%= versoesCustomizadas[i].date %></p>
										    				</div>
											      		</div>	

											      		<div class="form-group">
										    				<label class="control-label col-sm-4">Idiomas :</label>
										    				<div class="col-sm-8">	
										    					<p class="form-control-static">
										    						<% for(var j = 0; j < versoesCustomizadas[i].languages.length; j++) { %>
										    							<%= versoesCustomizadas[i].languages[j] %>
										    							<% if(j < (versoesCustomizadas[i].languages.length - 1)) { %>
										    								;
										    							<%	} %>
										    						<%	} %>		
										    					</p>	
										    				</div>
											      		</div>
											      	</form>	
										      	</div>

										    	<div class="modal-footer">
										        	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
										    	</div>

										    </div>
										</div>
									</div>
						    	</td>
						    	<td id="columnButtonPlusMinus_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>" class="text-center">
						    		<% if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { %>
					        			<button type="button" class="btn btn-link" onclick="buscarVersoesCustomizadasDeVersao('<%= versoesCustomizadas[i]._id %>', '<%= versoesCustomizadas[i].user %>', '<%= versoesCustomizadas[i].path %>');">
						        			<span id="plusButton_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>" class="glyphicon glyphicon-plus" />
						        		</button>
					        		<%  } %>
						    	</td>
							</tr>
							<% if(versoesCustomizadas[i].qtyCustomizedVersion > 0) { %>
								<tr id="customizedVersions_<%= versoesCustomizadas[i]._id %>_<%= versoesCustomizadas[i].user %>">
								</tr>
							<%  } %>
						<%  } %>
					<%  } %>
				    </tbody>
				</table>

		      	<% if(!versoesCustomizadas || versoesCustomizadas.length == 0) { %>
					<div class="alert alert-warning fade in">
						O Arquivo Executável não possui Versões Customizadas
					</div>
				<% } %>

			</div>

	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>