<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li class="active">Pesquisar OAC</li>
			</ol>

			<form action="/pesquisarOAC" role="form" class="form-horizontal" accept-charset="UTF-8">
				<div class="form-group">
					<label for="title" class="control-label col-sm-2">Título do OAC:</label>
					<div class="col-sm-10">
						<input id="title" name="title" type="text" value='<%= title %>' class="form-control"/>
						<span class="help-block">Informe o título do OAC que deseja encontrar</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" name="btnPesquisar" class="btn btn-info" value="Pesquisar"/>
					</div>	
				</div>
			</form>

			<div id="results">
				<h4>Resultados:</h4>
				<table class="table table-striped table-responsive">
				    <thead>
				      	<tr>
				        	<th class="text-center">Título</th>
				        	<th class="text-center">Detalhes</th>
				        	<th class="text-center">Arquivos Executáveis</th>
				        	<th class="text-center">Versões Customizadas</th>
				      	</tr>
				    </thead>
				    <tbody>
				    <% if(result) {
						for(var i = 0; i < result.length; i++) { %>
				      		<tr>
					        	<td style="vertical-align: middle;"><%= result[i].title %></td>
					        	<td class="text-center" style="vertical-align: middle;">
					        		<a href="/visualizarMetadadosOAC?id=<%= result[i]._id %>">
						        		<span class="glyphicon glyphicon-search" />
						        	</a>
						        </td>
						        <td class="text-center">
						        	<table class="table">
							        	<% 	for(var j = 0; j < result[i].files.length; j++) { %>
							        			<tr>
												<% for(var k = 0; k < result[i].files[j].locations.length; k++) { %>			
								        			<td class="text-center">
										        		<a href="/baixarOAC?id=<%= result[i].files[j]._id %>&filePath=<%= result[i].files[j].locations[k].path %>">
										        			<%= result[i].files[j].locations[k].ext %>
										        		</a>
										        	<td>
										   		 <%	} %>
										    	</tr>
										<% } %>	
									</table>    
						        </td>
						        <td class="text-center">
						        	<table class="table">
							        	<% 	for(var j = 0; j < result[i].files.length; j++) { %>
							        			<tr>
							        			<% for(var k = 0; k < result[i].files[j].locations.length; k++) { %>
									        			<td class="text-center" style="text-align: center;">
											        		<a href="/listarVersoesCustomizadas?id=<%= result[i].files[j]._id %>&filePath=<%= result[i].files[j].locations[k].path %>">
											        			<span class="glyphicon glyphicon-folder-open" />
					        									<span class="badge"><%= result[i].files[j].qtyCustomizedVersion %></span>
											        		</a>
											        	<td>
											  	<%	} %>		
										    	</tr>
										<% } %>	
									</table> 	
						        </td>
			      			</tr>
				      	<%	}
						} %>
				    </tbody>
				</table>

				<% if(!result || result.length == 0) { %>
					<div class="alert alert-warning fade in">
						Nenhum OAC retornado
					</div>
				<% } %>	

			</div>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>