<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</a></li>
			  <li class="active">Pesquisar OAC</li>
			</ol>
			
			<label for="fileInput" class="control-label col-sm-2">Pesquisar:</label>
			<form action="/iniciar_busca" role="form" class="form-horizontal" accept-charset="UTF-8">
			<br><br>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="text" style="resize:none; width: 20%" name="input" value = '<%= term %>'class="form-control"/><br>
					<input type="submit" class="btn btn-info" class="form-control"/>
				</div>
			</div>
			</form>
			<br>
			<div id="result">
			<% if(data) {%>
				<% for(var i = 0; i < data.length; i++){ %>
					<p><%= data[i].title %></p>
					<ul>
						<% for(var j = 0; j < data[i].files.length; j++){ %>
							<% for(var k = 0; k < data[i].files[j].info.length; k++){%>
								<li><a href="localhost/OAC?id=<%= data[i].files[j]._id%>&filePath=<%= data[i].files[j].info[k].path%>"><%= data[i].files[j].info[k].ext%></a></li>
							<%}%>
						<% } %>
				<% } %>
			<% } %>
				</ul>
			</div>
			<br><br>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>