<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li>Administração</li>
			  <li>Gerenciar Papéis</li>
			  <li class="active">Pesquisar Papel</li>
			</ol>

			<% include ../partials/messages %>
			
			<form action="/pesquisarPapel" role="form" class="form-horizontal" accept-charset="UTF-8">
							
				<div class="form-group">
					<label for="name" class="control-label col-sm-3">Nome :</label>
					<div class="col-sm-9">
						<input id="name" name="name" type="text" value="<%= name %>" class="form-control"/>
						<span class="help-block">Informe o nome do Papel desejado</span>
					</div>
				</div>
				<div class="form-group">
					<label for="code" class="control-label col-sm-3">Código :</label>
					<div class="col-sm-9">
						<input id="code" name="code" type="text" value="<%= code %>" class="form-control"/>
						<span class="help-block">Informe o código do Papel desejado</span>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="control-label col-sm-3">Descrição :</label>
					<div class="col-sm-9">
						<textarea id="description" name="description" rows="5" class="form-control"><%= description %></textarea>
						<span class="help-block">Informe a descrição do Papel desejado</span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<input type="submit" name="btnPesquisar" class="btn btn-info" value="Pesquisar"/>
					</div>	
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<a href="/incluir_papel" class="btn btn-info" role="button"><span class="glyphicon glyphicon-plus"></span>  Incluir</a>
					</div>	
				</div>
			</form>
					
			<div id="results">
				<h4>Resultados:</h4>
				<table class="table table-striped table-responsive">
				    <thead>
				      	<tr>					      		
				        	<th class="text-center">Nome</th>
				        	<th class="text-center">Código</th>
				        	<th class="text-center">Descrição</th>
				        	<th class="text-center">Funcionalidades</th>
				      	</tr>
				    </thead>
				    <tbody>
				    <% if(result) {
						for(var i = 0; i < result.length; i++) { %>
				      		<tr>
				      			<td class="text-left"><%= result[i].name %></td>
					        	<td class="text-center"><%= result[i].code %></td>
					        	<td class="text-left"><%= result[i].description %></td>
					        	<td class="text-center">
					        		<a href="/editar_papel?idRole=<%=result[i].id%>" class="btn btn-link" role="button">
					        			<span class="glyphicon glyphicon-edit"></span>
					        		</a>
					        		<button type="button" class="btn btn-link" data-toggle="modal" data-target="#role_<%= result[i].id %>">
					        			<span class="glyphicon glyphicon-remove"></span>
					        		</button>
					        		<div id="role_<%= result[i].id %>" class="modal fade text-left" role="dialog">
										<div class="modal-dialog">
										    <div class="modal-content">
										    											    
										      	<div class="modal-body">										        	
										        	<form role="form" class="form-horizontal" accept-charset="UTF-8" id="formRole_<%= result[i].id %>">
											      		
											      		<div class="form-group">
											      			<div class="col-sm-offset-1 col-sm-11">
										    					<p class="form-control-static"><strong>Tem certeza que deseja remover o Papel ?</strong></p>
										    				</div>
										    			</div>
											      		<div class="form-group">
										    				<label class="control-label col-sm-4">Nome :</label>
										    				<div class="col-sm-8">
										    					<p class="form-control-static"><%= result[i].name %></p>
										    				</div>
											      		</div>
											      		<div class="form-group">
										    				<label class="control-label col-sm-4">Código :</label>
										    				<div class="col-sm-8">
										    					<p class="form-control-static"><%= result[i].code %></p>
										    				</div>
											      		</div>
											      		<div class="form-group">
										    				<label class="control-label col-sm-4">Descrição :</label>
										    				<div class="col-sm-8">
										    					<p class="form-control-static"><%= result[i].description %></p>
										    				</div>
											      		</div>

											      	</form>	
										      	</div>

										    	<div class="modal-footer">										        	
										        	<a href="/excluirPapel?idRole=<%=result[i].id%>&roleCode=<%=result[i].code%>" class="btn btn-info" role="button">Sim</a>
										        	<button type="button" class="btn btn-info" data-dismiss="modal">Não</button>
										    	</div>

										    </div>
										</div>
									</div>
					        	</td>
			      			</tr>
				      	<%	}
						} %>
				    </tbody>
				</table>

				<% if(!result || result.length == 0) { %>
					<div class="alert alert-warning fade in">
						Nenhum Papel retornado
					</div>
				<% } %>	

			</div>
	    </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>