<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<% include ../partials/head %>
</head>

<body style="background-color: #fffffa;">
	<% include ../partials/page_header %>

	<div class="container">
	  <% include ../partials/header %>

	  <div class="row">
	    <div id="menu" class="col-sm-3">
	    	<% include ../partials/menu %>
	    </div>	    	

	    <!-- Page Content -->
	    <div class="col-sm-9">
	    	<ol class="breadcrumb">
			  <li>Home</li>
			  <li>Pesquisar OAC</li>
			  <li class="active">Visualizar Metadados do OAC</li>
			</ol>

			<form role="form" class="form-horizontal" accept-charset="UTF-8" id="formData">
	      		
	      		<div class="form-group">
    				<label class="control-label col-sm-3">Usuário responsável :</label>
    				<div class="col-sm-9">
    					<p class="form-control-static"><%= metadados.user %></span>
    				</div>
	      		</div>				

				<div class="form-group">
    				<label class="control-label col-sm-3"> Nome Qualificado :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static"><%= metadados.qualified_name %></span>
    				</div>
	      		</div>

				<div class="form-group">
    				<label class="control-label col-sm-3">Data de Criação :</label>
    				<div class="col-sm-9">
    					<p class="form-control-static"><%= metadados.date %></span>
    				</div>
	      		</div>

    			<hr/>	

	      		<div class="form-group">
    				<label class="control-label col-sm-3">Título :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static"><%= metadados.title.value %></span>
    				</div>
	      		</div>

				<div class="form-group">
    				<label class="control-label col-sm-3">Palavras-chave :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<% for(var i = 0; i < metadados.keywords.length; i++) { %>
    							<%= metadados.keywords[i].value %>
    							<% if(i < (metadados.keywords.length - 1)) { %>
    								;
    							<%	} %>
    						<%	} %>		
    					</p>	
    				</div>
	      		</div>

	      		<div class="form-group">
    				<label class="control-label col-sm-3">Contribuintes :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<% for(var i = 0; i < metadados.contributes.length; i++) { %>
    							<%= metadados.contributes[i].date %> - <%= metadados.contributes[i].entity %>
    							<% if(i < (metadados.contributes.length - 1)) { %>
    								<br/>
    							<%	} %>
    						<%	} %>
    					</p>	
    				</div>
	      		</div>
	      		
	      		<div class="form-group">
    				<label class="control-label col-sm-3">Idiomas :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<% for(var i = 0; i < metadados.languages.length; i++) { %>
    							<%= metadados.languages[i] %>
    							<% if(i < (metadados.languages.length - 1)) { %>
    								;
    							<%	} %>
    						<%	} %>		
    					</p>	
    				</div>
	      		</div>

	      		<div class="form-group">
    				<label class="control-label col-sm-3">Descrições :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<% for(var i = 0; i < metadados.descriptions.length; i++) { %>
    							<%= metadados.descriptions[i].value %>
    							<% if(i < (metadados.descriptions.length - 1)) { %>
    								<br/><br/>
    							<%	} %>
    						<%	} %>		
    					</p>	
    				</div>
	      		</div>

				<div class="form-group">
    				<label class="control-label col-sm-3">Direito de Propriedade :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<%= metadados.rights_description.value %>
    					</p>	
    				</div>
	      		</div>	

	      		<hr/>

	      		<div class="form-group">
    				<label class="control-label col-sm-3">Comentários :</label>
    				<div class="col-sm-9">	
    					<p class="form-control-static">
    						<% for(var i = 0; i < metadados.annotations.length; i++) { %>
    							<%= metadados.annotations[i].date %> - <%= metadados.annotations[i].entity %>
    							<br/>
    							<%= metadados.annotations[i].description.value %>
    							<% if(i < (metadados.annotations.length - 1)) { %>
    								<br/><br/>
    							<%	} %>
    						<%	} %>
    					</p>	
    				</div>
	      		</div>      		
	      		
	      	</form>	
	      	
	    </div>
	  </div>

	</div>

	<% include ../partials/page_footer %>
</body>

</html>